* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body header {
  position: fixed;
  width: calc(100% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  padding: 10px;
  border-radius: 0 0 2rem 2rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

body header nav {
  margin: 2px;
}

body header nav a {
  margin: 2px;
  color: #0353A4;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
}

body header input {
  color: #333;
  margin: 2px;
  border: 1px #0353A4 solid;
  border-radius: 5px;
  padding: 2px 4px;
}

body .bg-img {
  width: 100vw;
  height: 100vh;
  background: url("./../../Image/Background/01.jpg") center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .bg-img h1 {
  min-width: 600px;
  color: #fff;
  text-align: center;
  font-size: 5em;
  border: 2rem #fff solid;
  border-left: 0;
  border-right: 0;
  border-radius: 5rem;
}

body .main {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

body .main .title {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  color: #0353A4;
  padding: 20px 0;
}

body .main .banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .main .banner a {
  border-radius: 2rem;
  overflow: hidden;
}

body .main .banner a img {
  width: 550px;
}

body .main .news {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .main .news .post {
  width: 190px;
  height: 285px;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

body .main .news .post img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .main .news .post:hover {
  -webkit-box-shadow: 0 0 20px #000;
          box-shadow: 0 0 20px #000;
  scale: 1.05;
}

body .main .posts {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .posts div.post {
  position: relative;
  max-width: 800px;
  height: 300px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 1.6rem;
  overflow: hidden;
}

body .main .posts div.post .brand {
  position: relative;
  height: 100%;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0353A4;
  padding: 2px;
}

body .main .posts div.post .brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 3px 0;
}

body .main .posts div.post .info {
  position: relative;
  height: 100%;
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5px;
}

body .main .posts div.post .info .dv-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main .posts div.post .info .dv-p .p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3px 0;
}

body .main .posts div.post .info .dv-p .p article {
  font-weight: bold;
  color: #0353A4;
}

body .main .posts div.post .info .dv-p .p.synopsis p {
  text-align: right;
}

body .main .posts div.post .info a {
  padding: 5px 0;
  text-decoration: none;
  background: #0353A4;
  width: 110px;
  text-align: center;
  color: #fff;
  border-radius: 0.2rem;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

body .main .posts div.post .info a:hover {
  background: #ffb400;
  color: #555;
}

body .main .posts div.post .show {
  position: relative;
  height: 100%;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .posts div.post .show img {
  width: 100%;
  height: 270px;
}

body .main .posts div.post .show .score {
  width: 100%;
  height: calc(100% - 270px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .posts div.post .show .score i {
  font-size: 1.3em;
  margin: 0 10px;
}

body .main .posts div.post .show .score i:nth-child(1) {
  color: chartreuse;
}

body .main .posts div.post .show .score i:nth-child(2) {
  color: red;
}

body footer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #0353A4;
  margin-top: 60px;
}

body footer .row {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body footer .row section {
  width: 50%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .row section:nth-child(1) p {
  color: #fff;
  font-size: 18px;
  line-height: calc(100% + 12px);
}

body footer .row section:nth-child(2) .information {
  width: 100%;
}

body footer .row section:nth-child(2) .information .p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body footer .row section:nth-child(2) .information .p article {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  line-height: calc(100% + 12px);
}

body footer .row section:nth-child(2) .information .p p {
  font-size: 18px;
  color: #fff;
  line-height: calc(100% + 12px);
}

body footer .order {
  width: 100%;
  padding: 8px 3px;
}

body footer .order p {
  text-align: center;
  font-family: Vazir;
  font-size: 1.2em;
  color: #fff;
}
/*# sourceMappingURL=Style.css.map */