* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

// $top-color: #a34d9c;
$top-color: #0353A4;

body {
  overflow-x: hidden;
  header {
    position: fixed;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    border-radius: 0 0 2rem 2rem;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: 0.7);
    z-index: 1000;
    nav {
      margin: 2px;
      a {
        margin: 2px;
        color: $top-color;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9em;
      }
    }
    input {
      color: #333;
      margin: 2px;
      border: 1px $top-color solid;
      border-radius: 5px;
      padding: 2px 4px;
    }
  }
  .bg-img {
    width: 100vw;
    height: 100vh;
    background: url("./../../Image/Background/01.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      min-width: 600px;
      color: #fff;
      text-align: center;
      font-size: 5em;
      border: 2rem #fff solid;
      border-left: 0;
      border-right: 0;
      border-radius: 5rem;
    }
  }
  .main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    .title {
      text-align: center;
      font-size: 2em;
      text-transform: uppercase;
      color: $top-color;
      padding: 20px 0;
    }
    .banner {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 20px 0;
      flex-wrap: wrap;
      a {
        border-radius: 2rem;
        overflow: hidden;
        img {
          width: 550px;
        }
      }
    }
    .news {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .post {
        width: 190px;
        height: 285px;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 0 5px #000;
        transition: 150ms ease-in-out;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:hover {
          box-shadow: 0 0 20px #000;
          scale: 1.05;
        }
      }
    }
    .posts {
      position: relative;
      width: 100%;
      display: flex;
      margin-top: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div.post {
        position: relative;
        max-width: 800px;
        height: 300px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        border-radius: 1.6rem;
        overflow: hidden;
        .brand {
          position: relative;
          height: 100%;
          width: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: $top-color;
          padding: 2px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 3px 0;
          }
        }
        .info {
          position: relative;
          height: 100%;
          width: 570px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0 5px;
          .dv-p {
            display: flex;
            flex-direction: column;
            .p {
              display: flex;
              flex-direction: row;
              margin: 3px 0;
              article {
                font-weight: bold;
                color: $top-color;
              }
              &.synopsis {
                p {
                  text-align: right;
                }
              }
            }
          }
          a {
            padding: 5px 0;
            text-decoration: none;
            background: $top-color;
            width: 110px;
            text-align: center;
            color: #fff;
            border-radius: 0.2rem;
            transition: 100ms ease-in-out;
            &:hover {
              background: #ffb400;
              color: #555;
            }
          }
        }
        .show {
          position: relative;
          height: 100%;
          width: 180px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          img {
            width: 100%;
            height: 270px;
          }
          .score {
            width: 100%;
            height: calc(100% - 270px);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            i {
              font-size: 1.3em;
              margin: 0 10px;
              &:nth-child(1) {
                color: chartreuse;
              }
              &:nth-child(2) {
                color: red;
              }
            }
          }
        }
      }
    }
  }
  footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $top-color;
    margin-top: 60px;
    .row {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      section {
        width: 50%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        &:nth-child(1) {
          p {
            color: #fff;
            font-size: 18px;
            line-height: calc(100% + 12px);
          }
        }
        &:nth-child(2) {
          .information {
            width: 100%;
            .p {
              display: flex;
              flex-direction: row;
              article {
                font-size: 18px;
                font-weight: bold;
                color: #fff;
                line-height: calc(100% + 12px);
              }
              p{
                font-size: 18px;
                color: #fff;
                line-height: calc(100% + 12px);
              }
            }
          }
        }
      }
    }
    .order {
      width: 100%;
      padding: 8px 3px;
      p {
        text-align: center;
        font-family: Vazir;
        font-size: 1.2em;
        color: #fff;
      }
    }
  }
}
